<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cool Project</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="FormController">
      <h2>Contact Us</h2>
        <form class="form" name="form" ng-submit="submitForm(formData)">
          <h4>Name</h4>
          <input type="text" name="input" placeholder="Sally Smith" class="text input" ng-model="formData.name" required>
          <span class="text alert" ng-show="form.input.$dirty && form.input.$error.required">Name cannot be left empty</span><br>
          <h4>Email</h4>
          <input type="email" name="emailAdd" placeholder="ssmith@gmail.com" class="email input" ng-model="formData.email" required>
          <span class="emailAlert alert" ng-show="form.emailAdd.$dirty && form.emailAdd.$error.required">Email cannot be left empty</span>
          <span class="emailAlert alert" ng-show="form.emailAdd.$error.email">Email must contain an "@"</span><br>
          <h4>Website</h4>
          <input type="url" name="urlAdd" placeholder="http://mssmith.net" class="url input" ng-model="formData.website" ng-pattern="/^https?:\/\//i" required>
          <span class="urlAlert alert" ng-show="form.urlAdd.$dirty && form.urlAdd.$error.required">Website cannot be left empty</span>
          <span class="urlAlert alert" ng-show="form.urlAdd.$error.url">Website must begin with http:// or https://</span><br>
          <h4>Message</h4>
          <textarea type="textarea" name="messageField" placeholder="A friendly message..." class="textarea input" ng-model="formData.message" required></textarea>
          <span class="messageAlert alert" ng-show="form.messageField.$dirty && form.messageField.$error.required">Message cannot be left empty</span><br>
          <button class="button">Submit</button>
        </form>
        <hr>
        <ul>
          <li ng-repeat="form in formArray" data-id="{{form._id}}">
            <div class="form-entry">
            <h3><span class="name">{{form.name}}</span><br>
              {{form.email}}<br>
              {{form.website}}<br>
              {{form.message}}
            </h3>
          <button ng-click="deleteMe(form._id)" class="delete-button">Delete</button>
        </div>
        </li>
      </ul>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
